###
# example .env file for NSX and Postgres configuration
###
NSX_GM1=nsx-gm1.somedomain.local
NSX_LM1=nsx1.somedomain.local
NSX_LM2=nsx2.somedomain.local
NSX_LM3=nsx3.somedomain.local
NSX_LM4=nsx4.somedomain.local
NSX_USERNAME=admin
NSX_PASSWORD=password
